/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.head {
    position: static;
    z-index: 2;
    width: 100vw;
    background-color: #28598b;
    height: 50px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.30);
}



.content {
    width: 100%;
    position: relative;
    height: 100%;
}

.side-menu {
    position: absolute;
    z-index: 1;
    width: 200px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    background-color: #28598b;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.15);
}

.side-menu span{
    display: block;
    width: 100%;
    height 35px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.side-content {
    position: relative;
    display: block;
    left: 250px; 
    height: 50px;
    width: 100%;
    background-color: aqua;
}

.span-modulo{background-color: #75d960}
.span-trabalho{background-color: #4f8b91}
.span-agenda{background-color: #b66696}
.span-biblioteca{background-color: #d95b5b}

