.banner-modulo {
    display: block;
    width: 100%;
    min-height: 100px;
}

.banner-forum {
    display: block;
    width: 100%;
    min-height: 60px;
}

.banner-forum span{
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    top: 50%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);  
}

.banner-modulo span{
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    top: 50%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);  
}

.canto-direito {
    position: absolute;
    display: block;
    width: 20%;
    height: 80%;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.canto-esquerdo {
    position: absolute;
    display: block;
    width: 20%;
    right: 2%;
    top: 20%;
    transform: translate(0, -50%);
}

.canto-esquerdo span {
    font-size: 15px;
    width: 100%;
    position: absolute;
    text-align: right;
}


.id-modulo span{
    font-size: 60px;
}
.id-modulo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.disciplina-modulo{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.disciplina-modulo span {
    text-align: center;
    font-size: 15px;
}




.professor-plano-aula {
    width: 15%;
    max-height: 140px;
    position: absolute;
    top: 50%;
    left: 85%;
    display: block;
    float: right;
    text-align: center;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.professor-plano-aula img{
    width: 100%;
}

.forum-bottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: right;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.checkinputs-modulo {
    display: inline-block;
    
}
.forum-bottom input{
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 4px 2px 4px 2px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.btn-modulo {
    border: none;
    padding: 0px 10px 0px 10px;
    margin: 0px 6px 0px 6px;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}


.btn-modulo:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    line-height: 30px;
}

.apagar {
    background-color: #d34c4c;
}

.enviar {
    background-color: #07896C;
}

.mostrar {
    background-color: #078B93;
    margin: 10px 6px 0px 6px;
}

.editar {
    background-color: #078B93;
}

.forum-bottom span{
    font-size: 12px;
    line-height: 25px;
    margin: 0px 4px 0px 2px;
    font-family: 'Open Sans', sans-serif;
   
}

.caixa-resposta {
    display: none;
    margin-left: 50%;
    transform: translate(-44%, 0);
    margin-top: 12px;
    margin-bottom: 12px;
    width: 800px;
    max-width: 800px;
    min-height: 60px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}


.modulo-box {
    display: inline-block;
    width: 284px;
    background-color: white;
    margin: 0px 0px 10px 10px;
    vertical-align: top;
    min-height: 290px;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    border-radius: 2px;
}





@media only screen and (max-width: 1150px) {
    .caixa-resposta {
         width: 87%;
    }
}

@media only screen and (max-width: 605px) {
    .modulo-container {
    text-align: center;
}
    .caixa-resposta {
    transform: translate(-50%, 0);
    width: 98%;
    }
}
@media only screen and (max-width: 500px) {
    
    .banner-modulo span{
    font-size: 30px;
    text-align: center;
    }
    .canto-esquerdo span {
    font-size: 13px;
    }
    .canto-direito {
        left: 12%;
    }
    .id-modulo span{
    font-size: 50px;
    }
    .disciplina-modulo span {
    font-size: 13px;
    }
    
}

@media only screen and (max-width: 340px) {
   .canto-direito {
        left: 15%;
    } 
}

.modulo-box-dia {
    width: 100%;
    color: white;
    height: 35px;
    font-family: 'londrina solid';
    font-size: 20px;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.modulo-box-dia span {
    margin-left: 20px;
    line-height: 35px;
}

.modulo-box-codigo {
    width: 100%;
    color: white;
    height: 50px;
    font-family: 'londrina solid';
    font-size: 30px;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.modulo-box-codigo span {
    margin-left: 20px;
    line-height: 50px;
}

.modulo-box-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.modulo-box-conteudo {
    margin-bottom: 30px;
}

.modulo-box-container {
    padding: 10px;
}

.modulo-box-label {
    display: block;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}


.modulo-box-radio {
  background-color: brown;
  border: none;
  height: 25px;
  width: 25px;
}

.checkmark {
    box-sizing: border-box;
    display: block;
    border-bottom: 2px solid #727272;
    width: 120px;
    height: 30px;
    background-color: #eee;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
    content: 'Uu';
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-ir-modulo {
    display: block;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    color: white;
    font-weight: bold;
}


.checkmark:hover {
    border-bottom: 3px solid rgba(24, 34, 20, 0.72);
    line-height: 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);

}

.modulo-box-label input:checked + .checkmark {
    transition: 0.5s;
    background-color: #60c164;
    font-weight: bold;
    color: white;
}

.modulo-box-label input{
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.modulo-container {
    
}



.aluno-modulo {

margin: 6px 0px 0px 6px;
width: 175px;
height: 90px;

border-radius: 4px;
position: relative;
display: inline-block;
}
.aluno-modulo span{
float: right;
font-size: 12px;
font-weight: bold;
display: inline;
width: 76px;
margin: 5px 5px 5px 2px;
line-height: 12px;
}

.aluno-modulo u{
float: right;
color: dodgerblue;
font-size: 11px;
display: block;
width: 100px;
position: absolute;
top: 74px;
right: 10px;
text-align: right;
cursor: pointer;
user-select: none;
}

.aluno-modulo img{
    width: 80px;
    display: inline;
    margin: 3px 3px 3px 3px;
    border: 2px solid rgba(0,0,0,0.15);

}

.aluno-modulo-container {
    
}
